In [2]:
import pandas as pd
import numpy as np


conflict_df = pd.read_excel("/home/adzavon/Documents/MSC_Data_Analysis/merge for forecasting/conflicts_s__um.xlsx")
IDP_df = pd.read_excel("/home/adzavon/Documents/MSC_Data_Analysis/merge for forecasting/Sum_months_IDP.xlsx")

conflict_df["Date"] = conflict_df["Date"].dt.strftime('%m-%d-%Y')
IDP_df["Date"] = IDP_df["Date"].dt.strftime('%m-%d-%Y')
conflict_df["Date"] = pd.to_datetime(conflict_df["Date"], utc=True)
IDP_df["Date"] = pd.to_datetime(IDP_df["Date"], utc=True)

# conflict_df
# IDP_df
# merge_data = pd.merge(conflict_df, IDP_df, on="Date")
# merge_data

res = pd.merge(conflict_df.assign(grouper=conflict_df["Date"].dt.to_period('M')),
               IDP_df.assign(grouper=IDP_df["Date"].dt.to_period('M')),
               how='left', on='grouper')
data = res[['Date_x','SUM_CONFLICTS','Internal Displced People']]
data.head(12)
#data.tail(12)

/tmp/ipykernel_648221/1645679654.py:18: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  res = pd.merge(conflict_df.assign(grouper=conflict_df["Date"].dt.to_period('M')),
/tmp/ipykernel_648221/1645679654.py:19: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  IDP_df.assign(grouper=IDP_df["Date"].dt.to_period('M')),

                      Date_x  SUM_CONFLICTS  Internal Displced People
0  2018-01-01 00:00:00+00:00             11                       NaN
1  2018-02-01 00:00:00+00:00             10                       NaN
2  2018-03-01 00:00:00+00:00             18                       NaN
3  2018-04-01 00:00:00+00:00             28                       NaN
4  2018-05-01 00:00:00+00:00             23                       NaN
5  2018-06-01 00:00:00+00:00             15                       NaN
6  2018-07-01 00:00:00+00:00             16                     558.0
7  2018-08-01 00:00:00+00:00             21                    3335.0
8  2018-09-01 00:00:00+00:00             50                     669.0
9  2018-10-01 00:00:00+00:00             60                       NaN
10 2018-11-01 00:00:00+00:00             87                       NaN
11 2018-12-01 00:00:00+00:00             62                       NaN

In [57]:
data_new = data.dropna()
x = data_new["SUM_CONFLICTS"]
y = data_new["Internal Displced People"]

In [58]:
r = np.corrcoef(x, y)
r

array([[1.       , 0.7998769],
       [0.7998769, 1.       ]])